@media (min-width: 320px) and (max-width: 426px)
	.container
		width: 375px
	.navbar
		height: 64px
		&_title
			display: none
	.img-cornerUp, .img-cornerDown
		display: none
	.logo
		margin: 0 auto
		padding-left: 0px
		padding-top: 17px
		img
			width: 37px
			height: 29px
	.main
		display: block
		height: 958px	
	.avatar
		padding-left: 0px
		padding-top: 0px
		img
			width: 348px
			height: 396px
			margin-top: 24px
			margin-left: 14px
	.header
		width: 100%
		padding-left: 0px
		h1
			padding-top: 0px
			font-size: 40px
			line-height: 48px
			margin-top: 24px
			margin-left: 14px
		&_text
			padding-top: 16px
			margin: 0px
			font-size: 15px;
			line-height: 24px
			width: 348px
			margin-left: 14px
		&_about
			padding-top: 32px
			margin: 0px
			font-size: 20px;
			line-height: 24px;
			margin-left: 14px
		&_title
			padding-top: 16px
			margin-left: 14px
			div
				display: block
				margin-right: 39px
				span
					font-size: 14px
					line-height: 18px
				p
					margin-left: 0px
					margin-top: 4px
					font-size: 14px
					line-height: 18px
	.img-squarePurpleSmall
		left: 321px
		top: 335px
		width: 32px
		height: 32px
		transform: rotate(45deg)
		img
			width: 32px
			height: 32px
			border-radius: 50%
	.img-squarePinkMiddle
		left: 298px
		top: 371px
		width: 56px
		height: 56px
		transform: rotate(64deg)
		img
			width: 60px
			height: 60px
			transform: rotate(45deg)
			border-radius: 100%
	.img-squareGrayMiddle, .img-squareGraySmall, .img-squareGrayBig, .img-squareDarkGray, .img-squarePurpleMiddle, .img-squarePinkBig
		display: none
	.img-mobil1
		position: absolute
		display: inline-block
		right: 70px
		top: 90px
		img
			width: 32px
			height: 32px
			transform: rotate(73deg)
			border-radius: 50%
	.img-mobil2
		position: absolute
		display: inline-block
		right: 20px
		top: 35px
		img
			width: 60px
			height: 60px
			transform: rotate(45deg)
			border-radius: 100%
	.addDocument
		width: 348px
		height: 175px
		left: 14px
		top: 653px
		display: block
		p
			width: 212px
			text-align: center
			margin-left: 68px
			margin-top: 25px
		button
			margin-left: 68px
			margin-top: 15px
	.addDocument-span
		left: 14px
		bottom: 145px
		width: 93%
	.content
		height: 1037px
		.title
			font-size: 32px
			line-height: 41px
			padding-left: 0px
			padding-top: 40px
			padding-right: 0px
			width: 348px
			margin-left: 14px
		.fields
			left: 14px
			top: 100px
			padding-top: 20px
			padding-left: 0px
			display: block
			div
				width: 102%
				margin-right: 0px
			select
				width: 323px
			&_input
				width: 102%
				font-size: 16px
				line-height: 24px
			p
				margin-top: 40px
		&_button
			left: 14px
			width: 93%
	#input3
		display: block
		left: 0px
		top: 270px
	#input4
		display: none !important
	#input5
		display: block
		left: 0px
		top: 390px
	body
		width: 375px
	.completed
		&_flex
			display: none
	.footer
		height: 595px
	.slider
		left: 14px
		top: 32px
		&_item
			img 
				width: 346px
				height: 535px
		&_prev, &_next
			top: 86%
	.sliderText
		width: 225px
		left: 60px	
		top: 160px
		font-size: 40px
		line-height: 48px
		text-align: center
	.sliderTextDescr
		width: 254px
		left: 45px
		top: 275px
		font-size: 15px
		line-height: 24px
	.slider-dots
		left: 37%
		bottom: 45px
	.slider_item_imgDesktop
		display: none
	.slider_item_imgMobile
		display: block
	.addDocument-flex
		div
			&:first-child
				width: 14%
			&:nth-child(2)
				width: 76%
			&:nth-child(3)
				width: 4%
				margin-bottom: 7px